{% extends 'static.html' %}

{% block content %}
    <div class="container">
        <h1 style="margin-bottom: 20px;">Locations:</h1>
        <div class="row">
            <div class="col-lg-6">
                <h3>Vancouver:</h3>
                <h4>
                    111 Main St. <br>
                    (111)-111-1111
                </h4>
            </div>
            <div class="col-lg-6">
                <h3>Burnaby:</h3>
                <h4>
                    222 Oak St. <br>
                    (222)-222-2222
                </h4>
            </div>
        </div>
    </div>
{% endblock %}
