<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

{% extends 'static.html' %}

{% block content %}


<h1>Signup</h1>

<form method="post" action="{% url 'djangoapp:registration' %}">
  {% csrf_token %}
  
  <div class="mb-3">
    <label for="username" class="form-label">User Name</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter User Name" required>
  </div>
  
  <div class="mb-3">
    <label for="firstname" class="form-label">First Name</label> <br>
    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name" required>
  </div>
  
  <div class="mb-3">
    <label for="lastname" class="form-label">Last Name</label> <br>
    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name" required>
  </div>
  
  <div class="mb-3">
    <label for="password" class="form-label">Password</label> <br>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
  </div> <br>
  
  <button type="button" class="btn btn-primary">Sign up</button>
</form>

{% endblock %}
</html>
